/* pricing section design */

#pricing {
    background-color: #FFF9F5;
}

.pricing-package-card {
    background-color: #fff;
    padding: 30px;
    transition: all 0.3s ease-in;
    margin-bottom: 30px;
}

.pricing-package-card:hover {
    box-shadow: 0px 0px 40px 0px rgba(113,113,113,0.05);
}

.pricing-package-card:hover .buy-now-btn {
    background-color: #ff6d3c;
    color: #fff;
}

.pricing-package-card h6 {
    font-family: 'Poppins', sans-serif;
    color: #336;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 20px;
}

.pricing-package-card h3 {
    margin-bottom: 20px;
    word-spacing: -14px;
    position: relative;
    display: inline-block;
    color: #336;
    font-size: 48px;
    line-height: 1.2;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.package-service{
    padding: 0;
    margin: 0;

}


.package-service li{
    margin-bottom: 8px;
}
.control-btn{
	border: 0;
	outline: 0;
	font-family: "Poppins",sans-serif;
	color: #336;
	background-color: transparent;
	text-transform: capitalize;
	border-radius: 8px;
	font-weight: 500;
	padding: 10px 12px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.btn-active,
.mixitup-control-active{
	background-color: #ff6d3c;
	color: #ffffff;
}

.controls-wrapper{
	border: 2px solid #ff6d3c;
	padding: 5px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.buy-now-btn {
    background: transparent;
    border: 2px solid #ff6d3c;
    color: #336;
    padding: 12px 30px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    border-radius: 8px;
    transition: all 0.3s ease-in;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 15px;
}

span.package-time {
    font-size: 25px;
}

sup.currency-symbol {
    font-size: 20px;
    top: -2rem;
    margin-right: 5px;
}