/* Services Section Style */

.section-padding{
    padding: 100px 0;
}

#services{
    background-color: #FCFCFC;
}

.common-heading {
    font-family: "Poppins",sans-serif;
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff6d3c;
    font-weight: 700;
    margin-bottom: 5px;
    opacity: 0.5;
}

.common-sub-heading {
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: #336;
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1;
}

.common-description {
    color: #336;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.service-item{
    /* background-color: cyan; */
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 0px 40px 0px rgba(113,113,113,0.05);
    transition: all 0.3s ease-in;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.service-item .service-icon {
    background: #ff6d3c;
    width: 85px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s ease-in;
    z-index: 1;
    overflow: hidden;
}

.service-item .service-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    transition: all 0.3s ease-in;
}

.service-item-heading {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #336;
    font-size: 24px;
}

.service-read-more {
    background: transparent;
    border: 2px solid #ff6d3c;
    color: #336;
    padding: 12px 30px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    border-radius: 8px;
    transition: all 0.3s ease-in;
    text-transform: capitalize;
    text-decoration: none;
}

.service-read-more.active{
    background-color: #ff6d3c !important;
    color: #ffffff;
}

.service-read-more:hover{
    background-color: #ff6d3c;
    color: #ffffff;
}