@import url('styles-parts/services-section.css');
@import url('styles-parts/pricing-section.css');

/*********************************
    [Basic]
*********************************/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
}

a,
a:hover {
	text-decoration: none;
}

.pb-60{
	padding-bottom: 60px;
}


.common-heading {
    font-family: "Poppins",sans-serif;
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff6d3c;
    font-weight: 700;
    margin-bottom: 5px;
    opacity: 0.5;
}

.common-sub-heading {
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: #336;
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1;
}

.common-description {
    color: #336;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.logo-image{
	width: 170px;
	height: auto;
}

.header-section ul li a{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #333369 !important;
}

/* .contact-now-btn{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	background-color: #ff6d3c;
	color: #ffffff;
	border: 2px solid transparent;
	text-transform: capitalize;
}

.contact-now-btn:hover{
	background-color: transparent;
	border: 2px solid #ff6d3c;
} */




/* hero section design */

#hero-section{
	background-image: url("../images/background-image.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	/* max-height: 80vh; */
	height: 80vh;
	position: relative;
}

section#hero-section {
    overflow: hidden;
}

.slider{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}


.slider-title{
	font-size: 110px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	-webkit-text-fill-color: #ffffff;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ff6d3c;
	text-transform: capitalize;

}

.slider-subtitle{
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	color: #333366;
	text-transform: capitalize;
}

.contact-slider-btn{
	border: 2px solid #ff6d3c;
	text-transform: capitalize;
}

.contact-slider-btn:hover{
	background-color: #ff6d3c;
	color: #ffffff;
}

.contact-now-btn,
.contact-slider-btn{
	padding: 12px 25px;
}

ul.slick-dots {
    position: absolute;
    top: 48%;
    left: -100px;
}

footer#footer {
    background: #333369;
}

#footer p{
	color: #ffffff;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.slick-dots li button{
	font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #336;
    outline: none;
	background: transparent;
    margin-bottom: 0;
    padding: 2px;
}

.slider-active{
	background: #ff6d3c !important;
}

.slick-active button{
	background: #ff6d3c !important;
}


.slider-images img{
	max-width: 100%;
}

img.attachment-post-thumbnail {
    width: 70%;
    object-fit: contain;
}

.slider-items {
    align-items: center;
    justify-content: space-between;
}

.pt-200{
	padding-top: 200px;
}

.pb-100{
	padding-bottom: 100px;
}
